#sidebar
  min-width: sidebar-width
  padding: 40px 0
  .inner
    padding: 0;
    .sidebar-submenu
      &.active
        strong
          // background: #4360df;
          // color: #fff;
          &:before
            transform: rotate(0deg);
            // background-image: url(../img/arrow-bottom-white.svg);
      ul
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        li
          a
            padding-left: 48px
    &:before
      display: none
    strong
      margin-top: 0;
      border-radius: 23.5px;
      font-size: 15px;
      padding: 9px 24px;
      display: block;
      margin-bottom: 10px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      line-height: normal;
      border: none;
      font-weight: normal;
      &:hover
        background: rgba(67,96,223,0.1);
        color: #4360df;
        &:before
          transform: rotate(0deg);
      &:before
        content '';
        background-image: url(../img/arrow-bottom.svg);
        position: absolute;
        transform-origin: center;
        top: 50%;
        right: 24px;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg);
        background-position: center;
        background-repeat: no-repeat;

.sidebar-title
  margin-top: 40px
  padding: 10px 0
  font-family: font-title
  font-weight: bold
  color: color-title
  display: inline-block
  border-top: 1px solid color-border
  line-height: 1

.sidebar-link
  border-radius: 23.5px;
  font-size: 15px;
  padding: 9px 24px;
  display: block;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  line-height: normal;
  &:hover
    background: rgba(67,96,223,0.1);
    color: #4360DF;

